# Ignore build and output directories
/build/
/release/
/Code/build/

# Ignore test sudoku files
/Code/data/*
!/Code/data/example.txt

# Ignore IDE-specific files
.vscode/
.idea/
*CMakeLists.txt.user*

# Ignore LinuxDeployQt
/util/linuxdeployqt-continuous-x86_64.AppImage

# Ignore sync files
.owncloudsync.log
.sync_journal.db
.sync_journal.db-wal
